
<footer class="text-muted">
    <div class="container-fluid text-center">
        <p class="float-right">
            <a class="btn btn-primary mt-5" href="#">Retour en haut</a>
        </p>
        <p>Ucommerce</p>
        <p><a class="btn btn-primary m-2" href="">Page d'accueil</a></p>
    </div>
</footer>