<form method="post" action="{{ path('admin_delete', {'id': user.id}) }}" onsubmit="return confirm('Etes vous sure de vouloir supprimer cet utilisateur?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
    <button class="btn btn-danger">Suppression de cet utilisateur</button>
</form>